body {
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.hero,
.content-1,
.content-2,
.content-3,
.footer {
    box-sizing: border-box;
    display: flex;
    padding-left: 400px;
    padding-right: 400px;
}

.hero {
    flex-direction: column;
    background-color: #1F2937;
    height: 500px;
    padding-bottom: 150px;
    padding-top: 10px;
    margin: 0;
}

.hero .container-1 {
    display: flex;
    flex: auto;
}

.logo {
    flex: auto;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.header-links button {
    background-color: #1F2937;
    border: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero .container-2 {
    display: flex;
    gap: 50px;
}

.hero .text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.hero .container-2 button {
    width: 100px;
    padding: 5px 0;
    border-radius: 8px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    border: none;
}

.hero .image {
    flex: 1;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .image a {
    color: #F9FAF8;
}

.content-1 {
    padding-top: 50px;
    flex-direction: column;
    height: 450px;
    margin: 0;
}

.content-1 .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;
    align-self: center;
}

.content-1 .container {
    display: flex;
    justify-content: space-between;
}

.content-1 .container .image {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.content-1 .container img {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: thick;
    border-color: #3882F6;
    border-radius: 8px;
    margin: 0;
}

.content-1 .container a {
    color: gray;
    text-align: center;
    width: 200px;
}

.content-2 {
    flex-direction: column;
    background-color: #E5E7EB;
    height: 400px;
    justify-content: center;
}

.content-2 .main-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.content-2 .author {
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
}

.content-3 {
    height: 380px;
    justify-content: center;
    align-items: center;
}

.content-3 .container {
    box-sizing: border-box;
    background-color: #3882F6;
    display: flex;
    flex: auto;
    height: 33%;
    padding: 40px 90px;
    border-radius: 8px;
}

.content-3 .container .text {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
}

.content-3 .title {
    font-size: 20px;
    font-weight: bold;
}

.content-3 .subtitle {
    font-size: 15px;
    font-weight: 300;
}

.content-3 button {
    align-self: center;
    height: 30px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}

.footer {
    background-color: #1F2937;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #E5E7EB;
}

button {
    font-family: "Roboto", sans-serif;
}